<a href="https://colab.research.google.com/github/DaveWates/Intro-to-programming/blob/main/ISYS5002_End_of_Semester_Summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Computational Thinking

Computational thinking is a collection of problem-solving techniques that entails describing problems and solutions in a way that a computer can understand.

* Problem Formation (Abstraction)
* Solution Expression (Automation)
* Execution and Evaluation (Analysis)

## Problem Solving Methodology

1. State the problem clearly
2. Describe the input and output
3. Work a simple example by hand
4. Develop and algorithm (and convert to Python)
5. Test solution with a variety of data

*Note: Steps 1-3 and half of Step 4, a computer is not needed!*


## Two things

1. Store Values
2. Perform Operations

## Six Operations

* Input/Receive Information
* Output Information
* Perform Arithmetic
* Assign a value to a variable
* Compare to variables
* Repeat a group of actions

## Develop algorithm (half of step 4)

Break a problems down into simple actions in term of the **six operations**

* Actions carry out simple tasks
* Express actions as one of six operations 
* A set of actions is called an algorithm
* Algorithms expressed as Pseudocode
* Coding is translating an algorithm to a program

## Implement Algorithm (other half of step 4)

How to implement

* Implement actions/steps one at a time
* Initially use temporary variables
* Create placeholders for difficult actions
* If can't implement a action, use psuedo code as comment

# Python


Combining the building blocks of the Python language with computational thinking will allow you to solve programming problems in Python.

This section shows you some basic concepts to start you off.  To learn a language, you need to program in it for a while. We have used Python 3, don't use Python 2!

Python enforces types (strongly typed), dynamically, implicitly typed (guesses type), case sensitive and object-oriented (i.e. everything is an object).


## Getting Help

* *help(object)*
* *dir(object)*
* Internet search
* YouTube Tutorials
* Websites eg. W3Schools

## Useful functions
* *type(object)*
* *print(object)*
* *len(object)*

## Data Values

Similar to how a person is different from a dog, data values can be different.  We call this difference 'type'.  A data value can be:

* whole number, eg. 342
* real number, eg. 17.7
* character, eg. a
* a word or phrase, eg. 'Hello World'
* logical value, eg. True or False

In [1]:
type(5)

int

In [2]:
type(5.5)

float

In [3]:
type('a')

str

In [4]:
type('Hello World')

str

In [5]:
type(True)

bool

We can also have group data values into:
* tuples (can't change values in the tuple)
* lists (can change the contents of the list)
* dict (dictionary, has a lookup key, and corresponding 'value') 

Tuples use '()', Lists use '[]' and dictionaries use '{}'

In [6]:
type([1,2,3])

list

In [7]:
type((1,2,3))

tuple

In [8]:
type({'ID': 100, 'Name': 'Odin'})

dict

List, tuples and dictionaries have a length.  Knowing the length is important as often we want to process or perform an action on each element of the list, tuple or dictionary.

In [9]:
len([1,2,3])

3

In [10]:
len((1,2,3))

3

In [11]:
len({'ID': 100, 'Name': 'Odin'})

2

We can sometimes coerce one type into another, for example, an int to a float type.

In [12]:
print(type(5))
float("5")

<class 'int'>

5.0

or a float into a int

In [13]:
int(5.7)

5

In [14]:
# just for fun
int(float(5))

5

## Simple Calculator

| Symbol    | Meaning/Operation |
|-----------|-------------------|
| +         | Addition          |
| -         | Subtraciton       |
| *         | Multiplication    |
| /         | Divsion           |
| //        | Integer Division (quotient)  |
| %         | Moduls (reminder) |
| **        | Power/Exponent    |
| ()        | Group.            |

Follows **BOMDAS**
- Brackets,
 Of (raised to the power), 
Multiplacation, 
 Division, 
 Addition,
 Subtraction,

In [15]:
3 + 5

8

In [16]:
3 + 5.5

8.5

In [17]:
2 * 3 / (2 + 1)

2.0

In [18]:
2**2

4

In [19]:
4 / 3

1.3333333333333333

In [20]:
# Interger division (//), if there is a decimal factor (remainder) disregard it
4 // 3

1

In [23]:
# Modulus gives us what the remainder is, EG. 3 goes into 5 once with a remainder of 2.
5 % 3

2

## Variables

Variables are containers to store **data values**

A variable is created when you first assign a value to it.

The data type of variable is based on the contents.

We can sometimes coerce one type into another, for example, an int to a float type.

In [24]:
name = "Odin"
print(name)
print(type(name))
type(name)

Odin
<class 'str'>

str

In [26]:
x = 3
y = 5
# Variable which stores the result of an expression using 2 other variables
# The '=' sign is the 'Assignment Operator"
#Left hand side = variable to store the result of what is happening on the RHS
#Right hand side = evaluate what is happening through the expression
slope = x / y

print(slope)
type(slope)

0.6

float

In [33]:
# Expressions have type which will depend on the calculation performed
type(x / y)

float

In [34]:
type(x + y)

int

In [37]:
big_string = '''
    This is a multiple line comment/string
    This is another line
    This is the final line 
    '''
print(big_string)

    This is a multiple line comment/string
    This is another line
    This is the final line

Variables can contain more complex data values, for example lists, tuples or dicts.

We can access individual elements of a list or tuple by using a position index.  In Python we use zero-based index.  That is the 'first' element is index '0'.

In [38]:
# Python is a '0' based index. It starts at 0 
rainfall = [0,0,2.7,2.3, 5.7, 6.9, 5.5, 2.3, 1,0,0,0]

print(len(rainfall))

# Print the first element
print(rainfall[0])

# Print the third element
print(rainfall[2])

12
0
2.7

We can use the contents of a variable as the index

In [39]:
month = 11
print(rainfall[month])

0

To access a element of a dict we use the key.

In [40]:
rainfall = {'Jan': 0,
            'Feb': 0,
            'Mar': 2,
            'Apr': 2.3,
            'May': 5.7,
            'Jun': 6.9,
            'Jul':5.5, 
            'Aug':2.3, 
            'Sep':1,
            'Oct': 0,
            'Nov':0,
            'Dec': 0}
print(rainfall['Mar'])

2

# Syntax

* Python has no mandatory statement termination characters
    (SQL uses the ';' to terminate the statement)
* Whitespace is significant
* Whitespace is 'space', 'tab', 'return' characters
* Blocks are specified by indentation. 
* Indent to begin a block, dedent to end one
* Statements that expect an indentation level end in a colon (:)
* Comments start with the hash (#) sign and are single-line
* Multi-line strings are used for multi-line comments.
* Multi-line strings begin three quotes ' ' '
* Multi-line strings end with three quotes ' ' ' 


## Comments

In [41]:
# This is a single line comment
# Writing multiple single lines
# comments are the 'true' way
# to make multi-line comments

# Anything after the '#' character is ignored
# So comments can occur after the python statement
age = 5 # The persons age (everything after the # is ignored)


''' This is a multiple-line string
    but because it is not assigned to a variable
    Python will ignore unassigned strings
    so we can treat this as a multiple line comment'''
# NO '=' so Python will ignore the above mutli-line string
big_string = ''' This is a multiple-line string
    and because it is assigned, we can perform
    an operation on the variable'''
# Now it has been assigned to a variable so we can call the variable
print(big_string)
print(age)

 This is a multiple-line string
    and because it is assigned, we can perform
    an operation on the variable
5

## Strings

Strings can use single or double quotation marks.  

Multiline strings are enclosed in triple-double (or single) quotes (' ' ')

You can build up, concatenate strings using the '+' operator.

Let us pretend we need to print the phrase 'hello world' by creating the phrase one word at a time.

In [42]:
first_word = "hello"
second_word = "world"
phrase = first_word + second_word
print(phrase)

helloworld

In [43]:
# How can we add a space?

first_word = "hello"
second_word = "world"
phrase = first_word + " " + second_word # Add a sapce when we create the 'phrase'
print(phrase)

hello world

In [44]:
# Another way to add a space?

first_word = "hello "   # add a space after the first word
second_word = "world"
phrase = first_word + second_word
print(phrase)

hello world

In [45]:
# And... Another wat to add a space

first_word = "hello"
second_word = " world"  # add a space to the begining of the word
phrase = first_word + second_word
print(phrase)

hello world

The important part is not how to add a space, but to **recognise that we needed a space.**

Strings are a sequence of characters.  So they have a length but can also be treated as a list, and we can print individual characters.

In [51]:
first_word = "hello"
second_word = "world"
phrase = first_word + " " + second_word

# print the length of the phrase
print(len(phrase))

print(phrase)

# print the seventh character
print(phrase[6])

11
hello world
w

We can do more than print a single character. We can slice up the string and get a substring.

We use the pattern

    the_string[begin : one_greater_than_end]

If we leave out 'begin', then it starts from the beginning.

If we leave out 'one_greater_than_end', then it goes to the end.

In [52]:
the_string = 'This is a example'
print(the_string)

# Now lets 'slice' the string, but leave out the slice-indexes
print(the_string[:])

This is a example
This is a example

Okay, that is a little strange.  Let us 'slice' out the word 'This'.

So that starts at the beginning, and we want up to and including the fourth character.  So we want positions from 0 to 3, but in slicing, the 'end' has to be one greater; we want indexes 0 to 4

In [55]:
the_string = 'This is a exmaple'
print(the_string)

# Print the first word
# because the index starts from 0, you always count to where
# the character should be then add 1.
# O = index of first letter, 4 is the index of the character after the one we want.
first_word = the_string[0:4]
print(first_word)

This is a exmaple
This

If the indexes are positive, we count from the beginning of the string to find the position.  If the numbers are negative, we count backwards from the end of the string to find the index position.

Let us get the first word, 'This', by counting from the end of the string

In [53]:
the_string = 'This is a example'
print(the_string)

# print length of string
print(len(the_string))

# Print the first word
# If we use negative it will start at the end of the string and count backwards
first_word = the_string[-17:-13]
print(first_word)

This is a exmaple
17
This

We can also slice lists and tuples

In [56]:
numbers = [1,2,3,4,5,6,7]

# print the first four elements of the list

print(numbers[0:4])

[1, 2, 3, 4]

We can do a fancy thing like slice a range and select only every second element.  The ** actual** pattern for slicing is:

    the_list[start : end : step]

In [64]:
numbers = [1,2,3,4,5,6,7]

# print the first four elements of the list
print(numbers[0:5:2])

# print every third element in the list
print(numbers[::3])

[1, 3, 5]
[1, 4, 7]

# Making decisions

Python supports logical conditions.  A logical condition is where we consider the relationship between two things.  Is one thing less than the other?  The 'result' of a logical condition is either True or False.

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b 
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

    if *logical condition* then
      do something

And if we want to do something false, then we 

    if NOT *logical condition* then
      do something 

And if we want to do something that is it either true or false, then we:

    if *logical condition* then
      do something
    else
      do something else (this is the 'false' branch)

And we can have lots of 'logical conditions'

    if *logical condition* then
      do something
    elif *another logical condition* then
      do something
    elif *and another logical condition * then
      do something
    elif *and one more logical condition* then
      do something
    else
      do something else (this is the 'false' branch)

Whoa, which one do I use?  Why so many different ways? If you follow the first few steps of our development methodology, that is, understand the problem. When you write an algorithm and make a decision, you can express the decision as per your understanding.

In [65]:
score = 48

if score > 50:
  print('pass')

In [66]:
score = 48

if score > 50:
  print('pass')
else:
  print('fail')

fail

In [67]:
score = 76.5

if score > 50:
  print('pass')
if score > 65:
  print('credit')
if score > 75:
  print('distinction') 
if score > 85:
  print('high distinction')
else:
  print('fail')

pass
credit
distinction
fail

Ummm.... what went wrong...  

Well, each 'if' statement is executed, it doesn't matter if one of the earlier statements was true.  That is, each statement is 'independent'.

If we use an 'elif', then the others are ignored once one logical condition is true.

In [68]:
score = 76.5

if score > 50:
  print('pass')
elif score > 65:
  print('credit')
elif score > 75:
  print('distinction')
elif score > 85:
  print('high distinction')
else:
  print('fail')

pass

Argh.... still not correct!

We have a logical error. The score was greater than 50, and once one condition is true, the others are ignored.  So how do we fix the problem?  We need to write different logical-conditions. Here we flip the 'greater-than to a 'less-than.'

    if score < 50:
       print('fail')
    elif score < 65:
       print('pass')
    etc.....

We could specify a range in the logical condition.

    if 50 < score < 65:
       print('pass')
    elif 65 < score < 75:
       print('credit')
    etc.....

We could reorder the original. So we test from 'high distinction' down to a 'pass'.

    if score > 85:
       print('high distinction')
    elif score > 75:
       print('credit')
    etc.....

This reordering works because when using 'elif' once one logical condition is true, the others are ignored.

Is one better than the other? Well no.  So use the one you prefer or more closely matches your understanding of the problem.

In [72]:
score = 75

if 50 <= score < 65:
  print('pass')
elif 65 <= score < 75:
  print('credit')
elif 75 <= score < 85:
  print('distinction')
elif 85 <= score < 100:
  print('high distinction')
else:
  print('fail')

distinction

This final version is still not 'perfect.  What happens if the score is '75'?  Is that a credit or distinction?  Try the above cell with a value of 75 and see what happens.  How would you fix this?

# Repeting Actions

We need to repeat a series of actions, often processing items in a list, such as calculating the total list of values or finding the average of a list number.

In [73]:
# lets use range() function to genrate a list
range(0,10)

range(0, 10)

Umm... that not a list. Lets make that a list

In [75]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Lets save the list to use for later

In [76]:
numbers = list(range(0,10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
numbers[::4]
# Starts with the first item, and then selects every 4th after that

[0, 4, 8]

Let us calculate the sum of the list.  the steps are as follows:

    1. Create a variable to store the total
    2. Initialise total to zero
    3. for each element in the list
      3.1. add the element to the total
    4. print the total

In [78]:
numbers = list(range(0,10))

# 1. Create a variable to store the total
# 2. Initialise the variable to zero
total = 0

# 3. for each element in the list
#    3.1 add the element to the total
for ele in numbers:
  total = total + ele

# 4. print the total 
print(total)

45

Notice that we worked out an algorithm, and then we used the algorithm as comments.  Probably a bit much for this simple example, but hopefully, you get the idea.

Now calculating the total of a list is pretty standard, so Python has a *sum()* function to do that for us.

In [79]:
numbers = list(range(0,10))
print(sum(numbers))

45

Which should you use?  As a general rule in Python, if a function exists, then typically, this means someone has tested and debugged the code, so my advice is to use the function.

How do you find out if the function exists?   Search on the internet!

If you can't find anything, then you will have to write your own.


# Functions

We been using functions though out, print(), len(), type().  Functions are identified by the use of 'name()'.  Most functions take input (called arguments), for exmaple:

    print("Hello World")

Here "Hello World" is the argument.

We can declare functions.  Declaring or defining functions is a way to encapsulate a set of actions into a single statement call.  

Following our development methodology, as you understand the problem and work through a few examples, your initial algorithm is often a set of high-level steps.   That is, you break the problem down into a set of more minor problems.   Typically you would work on one step at a time.  These 'steps' often become functions.

Another common reason to create a function is that save you are repeating a sequence of code.  Rather than duplicate the code in many places in the program, create a function.  Then call the function where required in the program.

Defining your function is 'extending' the language. You can use terminology from the original problem as the name of a Python function, which makes it easier to understand the code.

Functions are declared with the def keyword. 

Optional arguments are set in the function declaration after the mandatory arguments by being assigned a default value. 

For named arguments, the name of the argument is assigned a value. 

Functions can return thing(s).  Typically a single value/thing/object, but they can return multiple values in a tuple.  You use tuple unpacking to access each value.

Python doesn't have a function to calculate the average of a list. To calculate the average of a list, we need the sum of the values in the list, and then divide by the number of elements in the list.   Python has a sum() function, and we already used the len() function.  So let us define a  function to calculate the average.

Let us follow our typical pattern.

1. Get it working in a cell
2. Wrap the important code in a function def
3. Test the function

In [80]:
# Calculate average
total = sum(numbers)
num_elements = len(numbers)
average = total / num_elements
print(average)

4.5

wrap the cell in a funciton def

In [81]:
def average(numbers):
  total = sum(numbers)
  num_elements = len(numbers)
  average = total / num_elements
  return average

Lets use the new function.

In [89]:
# create a list
nums = list(range(0,10))

# store the reslt form the function call
result = average(nums)

# print the result
print(result)

4.5

# Exceptions

Programs can crash.  The program typically crashes when something exceptional happens, perhaps out of memory, disk space, or invalid input.  In Python, we get an error message called a traceback. See the following example

    ---------------------------------------------------------------------------
    TypeError                                 Traceback (most recent call last)
    <ipython-input-109-6def03b54820> in <module>()
          1 words = ['One', 'Two', 'Three']
    ----> 2 average(words)

    <ipython-input-105-20f44f94ad68> in average(numbers)
          1 def average(numbers):
    ----> 2   average = sum(numbers)/len(numbers)
          3   return average

    TypeError: unsupported operand type(s) for +: 'int' and 'str'

The traceback is designed to help the programmer and is not meant for the user of your program.  We should test our program and prevent any traceback from being displayed to the user.

In the above example, this exception is "TypeError":

    TypeError: unsupported operand type(s) for +: 'int' and 'str'

To handle exceptions in Python, first, we 'try' the code, and if an exception occurs, we write a block of code that 'handle' the error.  This process is known as writing try-except blocks.

Let us consider out *average()* function we defined above. 

What happens is we have a list with no numbers ['One', 'Two', 'Three']?

In [88]:
words = ['One', 'Two', 'Three']
average(words)

TypeError: ignored

We need to rewrite the average() function to handle the exception "TypeError"

In [90]:
def average(numbers):
  try:
    average = sum(numbers)/len(numbers)
    return average
  except TypeError:
    print("Please check that your list contains only numerical values")
    return 0

Test the fix

In [91]:
words = ['One', 'Two', 'Three']
average(words)

Please check that your list contains only numerical values

0

What about an empyt list?

In [92]:
empty_list = []
average(empty_list)

ZeroDivisionError: ignored

Umm... it still needs more work. We need to handle the ZeroDivisionError exception.

In [93]:
def average(numbers):
  try:
    average = sum(numbers)/len(numbers)
    return average
  except TypeError:
    print("Please check that your list contains only numerical values")
    return 0
  except ZeroDivisionError:  
    print("Please make sure that your list is not empty")
    return 0

Let us test the fix

In [94]:
empty_list = []
average(empty_list)

Please make sure that your list is not empty

0

What about a list of real numbers?

In [95]:
reals = [1,1.1,1,1.1]
print(average(reals))

1.05

# Importing 

Python has great community support.  Many programming problems have been solved, from image processing, reading and writing to files, creating plots etc.  When someone or a group write something useful they will bundle the functions up into a package for others to use.

To use some packages, you have to install them first.  Once a package has been installed, you can import the package into your program and use the functions.

In [103]:
import random

randomint = random.randint(1,100)
print(randomint)

3

In [104]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

You can import a specific function form a package using the 'from' keyword

In [105]:
from random import randint

randomint = randint(20,25)
print(randomint)

22

# Input/Output

Programs are:

    Input --> Processing --> Output

We already seen some simple output with the print() function. For simple input, we can use the input() function.

In [106]:
input("What is your name? ")

What is your name? Odin

'Odin'

We typically want to process the input, so we should store the input into a variable

In [107]:
# store the input into a variable called name
name = input("What is your name? ")

# simulate the processing step by using the input
phrase = 'Your name is ' + name

# Out put the result of our processing
print(phrase)

What is your name? Odin
Your name is Odin

## File I/O

For more persistance of data we can store our data in a file, and we can read data form a file.  The typicall pattern is, open the file, read/write from/to the file, and then close the file.

Whe we open the file, we can specifiy if it is for reading, writing, or appending. When writing or appending, if the file doesn't exits it will create a empty file.

In [108]:
my_file = open("mytext.txt", "w")
my_file.write("This is the first line\n") # notice the '\n', this is the new line character
my_file.write("This is a second line\n")
my_file.close()

If you open the file 'mytext.txt' in a text editor it contents will be:

    This is the first line
    This is the second line

We can check this in Python, by opening the file for reading and printing each line in the file.

The common function to read from text files are:
* read() - read the entire file
* readline() - read one line of a file
* readlines() - read entire files, return as a list of lines

In [109]:
my_file = open("mytext.txt", "r")
print(my_file.read())
my_file.close()

This is the first line
This is a second line

In [110]:
my_file = open("mytext.txt", "r")
print(my_file.readlines())
my_file.close()

['This is the first line\n', 'This is a second line\n']

In [111]:
my_file = open("mytext.txt", "r")
print(my_file.readline())
my_file.close()

This is the first line

To print each line, we can iterate over the list of lines

In [112]:
my_file = open("mytext.txt", "r")
for line in my_file.readlines():
  print(line)
my_file.close()

This is the first line

This is a second line

Closing the file is industry best practice, but can be easy to forget.  The pythonic' way is to use the *with* statement

In [113]:
with open("mytext.txt") as my_file:
  print(my_file.read())

This is the first line
This is a second line

We can iterate of the file variable.

In [114]:
with open("mytext.txt") as my_file:
  for line in my_file:
    print(line)

This is the first line

This is a second line

Oaky, I can write strings, what about other things?

In [115]:
my_list = ["This", "is", 4, 13327]

my_file = open("mylist.txt", "w")
my_file.write(my_list)
my_file.close()

TypeError: ignored

There is a library called pickle, that alows us to write/read objects to/from files.

In [116]:
import pickle

my_list = ["This", "is", 4, 13327]

# open the file to write bytes
my_file = open("binary.dat", "wb")

# use pickle to write the object to the file
pickle.dump(my_list, my_file)

# close the file
my_file.close()

We can't open 'binary.dat' in a text editor and make sense of it.

Let us use pickle to read back the list. Lets also use the with statement

In [118]:
with open("binary.dat","rb") as my_file:
  the_list = pickle.load(my_file)

print(the_list)

['This', 'is', 4, 13327]

## Other Data Sources/Sinks

* CSV files
* SQL Databases
* Excell Spreadsheets
* Word Documents
* PDF files
* Webpages
* Videos
* Audio

The pattern is almost all the same, open the file/database/webpage/stream, extract the data (usually into a pandas dataframe), process the data, the save the result to a file/database/webapge/stream.

Let us get a CSV from a URL and stor into a pandas dataframe

In [119]:
import pandas as pd

url = "http://winterolympicsmedals.com/medals.csv"
df = pd.read_csv(url)

print(df.head())

   Year      City       Sport  ...       Event Event gender   Medal
0  1924  Chamonix     Skating  ...  individual            M  Silver
1  1924  Chamonix     Skating  ...  individual            W    Gold
2  1924  Chamonix     Skating  ...       pairs            X    Gold
3  1924  Chamonix   Bobsleigh  ...    four-man            M  Bronze
4  1924  Chamonix  Ice Hockey  ...  ice hockey            M    Gold

[5 rows x 8 columns]

Lets save the dataframe as a CSV file

In [124]:
import pandas as pd
url = "http://winterolympicsmedals.com/medals.csv"
df = pd.read_csv(url)

# Simulate processing the data, lets extract the first 5 rows
small_df = df.head()

# output results
small_df.to_csv("medals.csv")

A CSV file is a text file, lets use our code above to inspect the meadles.csv file

In [121]:
with open("medals.csv", "r") as my_file:
  print(my_file.read())

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

Lets save this as a SQL database

In [122]:
import pandas as pd
import sqlite3

# read in the data source
df = pd.read_csv("http://winterolympicsmedals.com/medals.csv")

# process the data - extract the first 5 rows
small_df = df.head()

# save reults to a SQL database

# connect to the database
conn = sqlite3.connect('my_database.sqlite')

# save dataframe as a table in the databse
small_df.to_sql('medal_table', conn, if_exists='replace', index=False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Lets check the SQLite database

In [125]:
import pandas as pd
import sqlite3

# connect to the database
conn = sqlite3.connect('my_database.sqlite')
query = "SELECT * FROM medal_table"
df = pd.read_sql(query,conn)
df

   Year      City       Sport  ...       Event Event gender   Medal
0  1924  Chamonix     Skating  ...  individual            M  Silver
1  1924  Chamonix     Skating  ...  individual            W    Gold
2  1924  Chamonix     Skating  ...       pairs            X    Gold
3  1924  Chamonix   Bobsleigh  ...    four-man            M  Bronze
4  1924  Chamonix  Ice Hockey  ...  ice hockey            M    Gold

[5 rows x 8 columns]

# Mannaging Code

* Open a Jupyter Notebook
* Rename a Jupyter Notebook
* Write Python code in a Jupyter notebook code cells
* Run Python code in a Jupyter notebook code cell
* Write the text in Jupyter notebook markdown cells
* Use markdown syntax to produce formatted text, headings, lists
* Save/Download a Jupyter notebook
* Integrate notebooks with GitHub

# Packages for Using the Web

### Scraping
* Beautiful Soup
* Requests
* Selenium
* URLib, URLlib2
* Scrapy

### Creating
* Flask
* Django
* Bottle

# Packages for SQL Databases

* SQLite3
* MySQL
* PostgresSQL
* SQLalchemy

# Packages for Visualisation

The graphical depiction of information and data is known as data visualisation. Data visualisation tools make it easy to examine and comprehend trends, outliers, and patterns in data by employing visual elements like charts, graphs, and maps.

* Matplotlib
* Pandas
* seaborn
* ggplot
* Plotly
* Bokeh

# Packages for User Interfaces

A graphical user interface, or GUI, is an interactive environment that collects user responses to various circumstances such as forms, documents, tests, etc. It delivers a more interactive screen to the user than a typical Command Line Interface (CLI).

### In Notebooks
* ipywdgets
* Panel
* Dash
* Volia
* Anvil


### Local Scripts
* PyQT5
* Tkinter
* Kivy
* wxPytohn
* PySimpleGUI

In [ ]:
bye